body {padding-bottom: 70px;}

hr {border-color: #0275D8 !important;}

h1, body {color: #4D4D50 !important;}

p, label, input, textarea, {font-size: 1.5em !important;}

.myPhoto {
    
    width: 250px;
    height: 250px;
    border-radius: 50%;
    
}

#menu {margin-bottom: 50px;}

#social {
    
    background-color: #0275D8;
    color: white;
    padding: 10px 0px 10px 0px;
    border-radius: 5px;

}

i{
    
    font-size: 2em !important;
    margin-right: 10px;
    
}

.icon-hover:hover {color: #4D4D50;}

.white-text {color: white;}

#larger-text {font-size: 1.6em;}

hr {margin: 20px 0px !important;}